<span class="content-section">
  <span class="projects-row">
    <!--first project card-->
    <span class="project-card">
      <span class="project-card-spacing"></span>

      <span class="image-project-background">
        <img
          class="image-project-card"
          src="../../../../../assets/images/card-projects/api-image.png"
          alt=""
        />
      </span>
      <span class="project-card-spacing"></span>

      <span class="project-card-row">
        <span class="tag"> Database Management </span>
        <span class="tag"> Graphql </span>
      </span>

      <span class="project-card-spacing"></span>

      <span class="project-card-row">
        <span class="tag"> Technical Writing </span>
        <span class="tag"> PostgreSQL </span>
      </span>

      <span class="project-card-spacing"></span>

      <span class="project-heading"
        >Wavy API - Scailing Good Investment Decisions
      </span>

      <span class="project-card-spacing"></span>

      <span class="home-button"> View Project </span>
    </span>

    <!--second-->

    <span class="project-card">
      <span class="project-card-spacing"></span>

      <span class="image-project-background">
        <img
          class="image-project-card"
          src="../../../../../assets/images/card-projects/api-image.png"
          alt=""
        />
      </span>
      <span class="project-card-spacing"></span>

      <span class="project-card-row">
        <span class="tag"> Single Sign On Development </span>
        <span class="tag"> OAuth </span>
      </span>

      <span class="project-card-spacing"></span>

      <span class="project-card-row">
        <span class="tag"> Frontend Development </span>
        <span class="tag"> OpenID </span>
      </span>

      <span class="project-card-spacing"></span>

      <span class="project-heading">Data Privacy Management - Wavy Login </span>

      <span class="project-card-spacing"></span>
      <span class="project-card-spacing"></span>

      <span class="home-button"> View Project </span>
    </span>
  </span>
</span>
