.nav-bar-end {
  margin-right: 87px;
}

.nav-bar-start {
  margin-left: 66px;
}

.nav-bar-right {
  margin-right: 27px;
}

.nav-bar-top {
  margin-top: 8px;
}

.nav-bar-bottom {
  margin-bottom: 14px;
}

.nav-bar-social-media-space {
  margin-right: 27px;
}

.to-the-left {
  flex: 1 1 auto;
}
