<!--wavy content-->
<span class="wavy-container">
  <span class="wavy-tags-content">
    <!--the skill tags-->
    <span class="tags-row1">
      <span class="tag">UX Designer</span>
      <span class="tag">UX Researcher</span>
    </span>

    <span class="tags-row2">
      <span class="tag">Frontend Developer</span>
      <span class="tag">Instructional Designer</span>
    </span>
  </span>
  <span class="space-between-home-components"> </span>

  <span class="wavy-content-row1">
    <span class="column-row1">
      <span class="image-container">
        <img
          src="../../../../../assets/images/page-images/home-images/Home Screen Desktop View.svg"
          alt=""
          class="home-image-showcase"
        />
      </span>

      <span class="space-between-home-components"> </span>

      <span class="image-container">
        <img
          src="../../../../../assets/images/page-images/home-images/Results Screen Desktop View.png"
          class="home-image-showcase disappear"
        />
      </span>
    </span>

    <!--column-2-->
    <span class="column-row2">
      <span class="column-row2-header">
        <span class="space-between-home-components appear"> </span>

        <span class="subheading">Wealth Management Web Application</span>

        <span class="case-headline">
          Wavy: Should <br />
          <span>
            <img
              class="wavy-logo"
              src="../../../../../assets/images/page-images/home-images/wavy-eye.png"
              alt=""
            />
          </span>
          Invest?
        </span>
      </span>

      <!--space between-->
      <span class="space-between-home-components"></span>

      <span class="wavy-copy">
        So you have always wanted to start building your own investment
        portfolio. However, the process to start has always been just a little
        too intimidating?
      </span>

      <!--space between-->
      <span class="space-between-home-components"></span>

      <span class="wavy-copy-emphasized">
        There are so many options to choose from, where do you start? Which
        investments are the best for your financial objectives?
      </span>

      <!--space between-->
      <span class="space-between-home-components"></span>

      <span class="wavy-highlighted-grey">
        Wavy removes the complexity of investing.
      </span>

      <!--space between-->
      <span class="space-between-home-components"></span>

      <span class="wavy-highlighted-black"> How? </span>

      <!--space between-->
      <span class="space-between-home-components"></span>

      <span class="wavy-copy-emphasized">
        Wavy gives you a comprehensive summary on the key investment
        considerations on the asset you wish to invest in.
      </span>

      <span class="space-between-home-components"> </span>

      <span class="home-button"> View Prototype </span>

      <!--link to case study-->
      <span class="space-between-home-components-small"></span>
      <span class="button-and-link">
        <span class="home-round-button">
          <img
            class="button-icons"
            src="../../../../../assets/icons/arrow-icon.png"
            alt=""
          />
        </span>

        <span class="wavy-highlighted-black">
          Case Study & Design Process
        </span>
      </span>

      <!--link to product development-->
      <span class="space-between-home-components-small"></span>
      <span class="button-and-link">
        <span class="home-round-button">
          <img
            class="button-icons"
            src="../../../../../assets/icons/arrow-icon.png"
            alt=""
          />
        </span>

        <span class="wavy-highlighted-black"> Wavy Product Development </span>
      </span>
    </span>
  </span>
</span>
