<mat-toolbar>
  <mat-toolbar-row>
    <span class="to-the-left"></span>
    <span class="row nav-bar-top">
      <span class="social-icon-box-gmail nav-bar-right general-box-shadow">
        <img
          class="gmail-icon"
          src="../../../../assets/images/social-icons/gmail.png"
          alt=""
        />
      </span>

      <span class="social-icon-box-github nav-bar-right general-box-shadow">
        <img
          src="../../../../assets/images/social-icons/github.png"
          alt=""
          class="github-icon"
        />
      </span>

      <span
        class="social-icon-box-linkedin nav-bar-end nav-bar-end-mobile general-box-shadow"
      >
        <img
          src="../../../../assets/images/social-icons/linkedin.png"
          alt=""
          class="linkedin-icon"
        />
      </span>
    </span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span
      class="nav-bar-start nav-bar-start-mobile main-menu-link nav-bar-bottom"
    >
      <a href="" class="nav-bar-logo"> Munozovepi.Gwata </a>
    </span>

    <span class="hover-logo"> </span>
  </mat-toolbar-row>
</mat-toolbar>
